-
  const products = [
    {
      "id": "1",
      "name": "Train Wreck",
      "tags": ["autoflower", "feminised"],
      "percentage": [65, 28, 7],
      "images": [
        "product_1-00.jpg",
        "product_1-01.jpg",
        "product_1-02.jpg",
        "product_1-03.jpg",
        "product_1-04.jpg"
      ],
      "grow_info": {
        "thc": 21,
        "cbd": 0.7,
        "genetics": ["White Widow", "Critical+"],
        "flowering": 8,
        "yield": [150, 250],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },
  
    {
      "id": "2",
      "name": "Bubblelicious",
      "tags": ["test", "test2", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_2-00.jpg",
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "3",
      "name": "Cheese",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_3-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "4",
      "name": "Buddha's Sativa",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_4-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "5",
      "name": "Chemdog",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_5-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "6",
      "name": "Freddy's Best",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_6-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "7",
      "name": "Freddy's Best",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_6-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "8",
      "name": "Freddy's Best",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_6-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "9",
      "name": "Freddy's Best",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_6-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "10",
      "name": "Freddy's Best",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_6-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

    {
      "id": "11",
      "name": "Freddy's Best",
      "tags": ["autoflower", "feminised"],
      "percentage": [75, 21, 4],
      "images": [
        "product_6-00.jpg"
      ],
      "grow_info": {
        "thc": 25,
        "cbd": 0.4,
        "genetics": ["Lowrider", "Blueberry"],
        "flowering": 7,
        "yield": [170, 290],
        "climate": "Temperate climate",
        "flavour": ["spicy", "pungent", "earthy", "sweet"],
        "height": [40, 80],
        "harvest": "All year",
        "difficulty": "Easy"
      },
      "description": "Dwarf Low Flyer autoflower marijuana is easy to moderate grow that can thrive in both indoor and outdoor growing spaces. With 70% indica, 20% sativa, and 10% ruderalis and the offspring of a cross between Early Girl, Low Rider, and Ruderalis, this strain is undoubtedly a sure hit. Just like many of the best strains on the market nowadays, this one originated from Spain. At 10.85%, the THC content of this beautiful plant is nowhere as high as some others in Crop King’s line, but that is what sets it apart. Dwarf Low Flyer autoflower marijuana delivers a sweet and smooth natural kind of buzz. It is pure fun and relaxation, with no extreme psychedelic or couch-locking effects. This is the perfect smoke for those times you just want to relax for a bit and then go back to what you were doing right after. A good option for beginner smokers and veterans who want something relatively mild for a change.<br>If you are looking for a smaller plant that can easily be stashed away, our Dwarf Low Flyer is the right choice."
    },

  ]

.products-container#content

  each product, i in products
    .product-item__wrapper(id = 'product-' + products[i].id)
      .product-item__arrow-left
        img(src='@img/slider-arrow-left.svg')
      .product-item__arrow-right
        img(src='@img/slider-arrow-right.svg')
      section.product-item
        .product-item__head
          .product-item__top
            .product-item__title #{products[i].name}
            .product-item__tags 
              each tag, i in product.tags
                .product-item__tag= (i < product.tags.length-1) ? tag + ', ' : tag
          .product-item__slider
            each image in product.images
              img(src= '@img/products/' + image)
          .product-item__bottom
            .product-item__bullets

        .accordion
          .accordion__container.active
            .accordion__header
              |Percentage
            .accordion__content
              .product-item__chart
                .product-item__chart-single
                  svg.product-item__chart-doughnut-indica(viewBox="0 0 36 36")
                    path.product-item__chart-bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                    path.product-item__chart-circle(stroke-dasharray="65, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                    text.product-item__chart-percents(x="18" y="20.05") 65%

                .product-item__chart-single
                  svg.product-item__chart-doughnut-sativa(viewBox="0 0 36 36")
                    path.product-item__chart-bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                    path.product-item__chart-circle(stroke-dasharray="28, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                    text.product-item__chart-percents(x="18" y="20.05") 28%

                .product-item__chart-single
                  svg.product-item__chart-doughnut-ruderalis(viewBox="0 0 36 36")
                    path.product-item__chart-bg(d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                    path.product-item__chart-circle(stroke-dasharray="7, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831")
                    text.product-item__chart-percents(x="18" y="20.05") 7%
              .product-item__chart-lables
                .product-item__chart-lable Indica
                .product-item__chart-lable Sativa
                .product-item__chart-lable Ruderalis
        .accordion
          .accordion__container.active
            .accordion__header
              |Grow Info
            .accordion__content
              .product-item__grow_info
                .product-item__grow-row
                  .product-item__grow-prop THC Level:
                  .product-item__grow-value= product.grow_info.thc + '%'
                .product-item__grow-row
                  .product-item__grow-prop CBD Level:
                  .product-item__grow-value= product.grow_info.cbd + '%'
                .product-item__grow-row
                  .product-item__grow-prop Genetics Parents:
                  .product-item__grow-value 
                    each parent, i in product.grow_info.genetics
                      = (i < product.grow_info.genetics.length-1) ? parent + ', ' : parent
                .product-item__grow-row
                  .product-item__grow-prop Flowering:
                  .product-item__grow-value= product.grow_info.flowering + 'weeks'
                .product-item__grow-row
                  .product-item__grow-prop Yield:
                  .product-item__grow-value= product.grow_info.yield[0] + '-' + product.grow_info.yield[1] + 'grams'
                .product-item__grow-row
                  .product-item__grow-prop Climate:
                  .product-item__grow-value= product.grow_info.climate
                .product-item__grow-row
                  .product-item__grow-prop Flavour:
                  .product-item__grow-value
                    each flavour, i in product.grow_info.flavour
                      = (i < product.grow_info.flavour.length-1) ? flavour + ', ' : flavour
                .product-item__grow-row
                  .product-item__grow-prop Height:
                  .product-item__grow-value= product.grow_info.height[0] + '-' + product.grow_info.height[1] + 'cm'
                .product-item__grow-row
                  .product-item__grow-prop Harvest:
                  .product-item__grow-value= product.grow_info.harvest
                .product-item__grow-row
                  .product-item__grow-prop Difficulty:
                  .product-item__grow-value= product.grow_info.difficulty

        .accordion
          .accordion__container
            .accordion__header
              |Description
            .accordion__content
              .product-item__additional-info
                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique veniam repudiandae dolore aperiam aliquid, minima sint eveniet. Ipsam in non eaque praesentium architecto nam blanditiis sed nihil. Modi, nostrum non?
              
        .accordion
          .accordion__container
            .accordion__header
              |Trip Reports
            .accordion__content
              .product-item__trip-reports
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adip   isicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique  veniam

        .accordion
          .accordion__container
            .accordion__header
              |Grow Recommendations
            .accordion__content
              .product-item__grow-recommendations
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adip   isicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique  veniam

        .accordion
          .accordion__container
            .accordion__header
              |Delivery and Payment
            .accordion__content
              .product-item__delivery-payment
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adip   isicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique  veniam